body{
    background-color:#D5DEE4;
}
.colonnasx{
    margin-left: 30px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap:40px;
    margin-bottom: 40px;

}
.facebook img{
    text-decoration: transparent;
    width: 60px;
}
.search{
    height: 30px;
    width: 280px;
    border-radius: 10px;
    border-style: none;
    padding-left: 15px;

}
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 40px;
}
.moon{
    color: #14213D;
    background-color:#B7D2E6;
    border-radius: 9px;
    border-style: none;
}
.face{
    width: 20px;
    border-radius: 9px;
    border-style: none
}
.lente{
    position: relative;
    display: flex;
    align-items: center;
    }
    .lentes{
        position: absolute; 
        top: 50%;
        margin-right: 10px;
        transform: translateY(-50%);
        color: #888; 
        cursor: pointer;
    }
.list{
    color: gray;
}
.list1{
    margin-left: 15px;
}
.new{
    color:#174E24 ;
    background-color: #B5E6C1;
    border-radius: 10px;
}
.list2{
    margin-right: 3px;
}
.black{
    color: #14213D;
}
.linea{
    color: black;    
}
.gris{
    color: #888;
}
.restopagina{
    margin-left: 5px;
}
.imgalte {
    position: absolute;
    top: 5%;
    align-content: center;
    margin-top: 15px;
    margin-left: 150px;
    padding:10px;   
}
.imgalte img{
    width: 290px;
    margin:20px;
}

    .card {
        display: flex;
        position: absolute;
        top: 5%;
        align-content: center;
        margin-top: 15px;
        margin-left: 1000px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        background-color: #fff;
        text-align: right;
        width: 280px;
        height: 170px;
    }
    .card img.sole{
        width: 50px;
        height: 40px;
        margin-top: 80px;
    }
    .weather{
        margin-left: -60px;
        margin-top: 20px;
        font-weight: bold;
        color: black;
    }
    .york{
        font-size: small;
        margin-top: 70px;
        margin-right: 50px;
        color: #14213D;
    }
    .sunny{
        display: flex;
        color: orange;
    }
    .puntini{
    padding-top: 20px;
    }

    .temperatura{
        margin-top: 55px;
    }
    .caldo{
        font-size: 40px;
        color: #48aee9;
    }
.imgcentro{
    position: absolute;
    top: 25%;
    align-items: center;
    margin-top: 60px;
    margin-left: 80px;
    padding: 20px;
    padding-left: 80px;
}
.imgcentro img{
    margin-top: -400px;
    margin-left: 675px;
    width: 635px;
    height: 250px;
  
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card1 {
    display: flex; /* Abilita il layout flessibile */
    align-items: center; /* Allinea verticalmente al centro */
    justify-content: center; /* Allinea orizzontalmente al centro */
    flex-direction: column; /* In caso di testo, impedisce che il testo si estenda oltre il card */
    background: rgba(255, 255, 255, 0.7); /* Sfondo con trasparenza */
    border-radius: 10px; /* Bordo arrotondato opzionale */
    padding: 20px;
    width: 600px; 
    height: 220px;
    margin-left: 20px;
  }
.colonnasini{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: left;
    padding-right: 500px;
    padding-bottom: 10px;
}
.titulo{
    font-size: bold;
    color: #14213D;
}
.f{
    border-radius: 9px;
    background-color: #48aee9;
    
}
.r{
    border-radius: 9px;
    background-color: greenyellow;
    

}
.b{
    border-radius: 9px;
    background: #48aee9;
    
}
.r1{
    border-radius: 8px;
    background-color: orange;
    
}
.s{
    border-radius: 8px;
    background-color: red;
    
}
.work{
    position:absolute;
    margin-top: 20px;
    right:40px;
}
.imgpiedepag{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    align-items: center;
    margin-top: 330px;
    margin-left: 80px;
    padding: 20px;
    padding-left: 90px;
}
.imgsx{
    width: 900px;
    height: 180px;
    margin:0px 10px;
}
.imgdx{
    width: 375px;
    height: 180px;
    margin: 0px 10px;
}
.imgfinal{
    position: absolute;
    top: 25%;
    align-items: center;
    margin-top: 520px;
    margin-left: 80px;
    padding: 20px;
    padding-left: 90px;
}
.imgfinal img{
    width: 635px;
    height: 450px;
    margin:0px 10px;   
}


