body{
    background-color:#D5DEE4;
}
.colonnasx{
    margin-left: 30px;
}
.navbar{
    display: flex;
    justify-content: space-between;
   /* align-items: center;*/
}
.logo{
    display: flex;
    align-items: center;
    gap:40px;
    margin-bottom: 40px;

}
.facebook img{
    width: 60px;
}
.search{
    height: 30px;
    width: 280px;
    border-radius: 10px;
    border-style: none;
    padding-left: 15px;

}
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 40px;
}
.moon{
    color: #14213D;
    background-color:#B7D2E6;
    border-radius: 9px;
    border-style: none;
}
.face{
    width: 20px;
    border-radius: 9px;
    border-style: none
}
.lente{
    position: relative;
    display: flex;
    align-items: center;
    }
    .lentes{
        position: absolute; 
        top: 50%;
        margin-right: 10px;
        transform: translateY(-50%);
        color: #888; 
        cursor: pointer;
    }
.list{
    color: gray;
}
.list1{
    margin-left: 15px;
}
.new{
    color:#174E24 ;
    background-color: #B5E6C1;
    border-radius: 12px;
}
.list2{
    margin-right: 3px;
}
.black{
    color: #14213D;
}
.linea{
    color: black;    
}
.gris{
    color: #888;
}
.restopagina

.imgalte {
    position: absolute;
    top: 5%;
    align-content: center;
    margin-top: 15px;
    margin-left: 150px;
    padding:10px;   
}
.imgalte img{
    width: 290px;
    margin:20px;
}

    .card {
        display: flex;
        position: absolute;
        top: 5%;
        align-content: center;
        margin-left: 1000px;
        border-radius: 0px;
        padding: 10px;
        background-color: #fff;
        width: 280px;
        height: 170px;
        margin-top: 18px;

    }
    .card img.sole{
        width: 40px;
        height: 40px;
        margin-top: 80px;
    }
    .weather{
        margin-left: -70px;
        margin-top: 20px;
        font-weight: bold;
        color: black;
    }
    .york{
        font-weight: bold;
        margin-top: 70px;
        color: #14213D;
    }
    .sunny{
        display: flex;
        color: orange;
    }
    .puntini{
    padding-top: 20px;
    padding: 5px;
    }

    .temperatura{
        margin-top: 55px;
    }
    .caldo{
        font-size: 40px;
        color: #48aee9;
    }
.imgcentro{
    position: absolute;
    top: 25%;
    align-items: center;
    margin-top: 60px;
    margin-left: 80px;
    padding: 20px;
    padding-left: 80px;
}
.imgcentro img{
    margin-top: -230px;
    margin-left: 1300px;
    width: 635px;
    height: 265px;
}

.card1 {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    background: rgba(255, 255, 255, 0.7); 
    border-radius: 2px; 
    padding: 20px;
    width: 600px; 
    height: 225px;
    margin-left: 20px;
  }
.colonnasini{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-right: 500px;
}

.f{
    background-color: #B7D2E6;
    color:#2B3A67 ;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    padding: 7px;
    
}
.r{
    background-color:#E4F1E6 ;
    color: greenyellow;
    font-weight: bold;
    font-size: 18px;
    border-radius:10px;
    padding: 7px;
    

}
.b{
    background-color: #B7D2E6;
    color: #48aee9;
    font-weight: bold;
    border-radius:10px;
    padding: 6px;
    
}
.r1{
    background-color: #F5AEA3;
    color: orange;
    font-weight: bold;
    border-radius:10px;
    padding: 6px;
    
}
.s{
    background-color:#FFA399 ;
    color: red;
    border-radius:10px;
    padding: 7px;
    
}
.number{
    color: #004c78;
    background-color:#D3F7FF;
    font-weight: bold;
    font-size: 7px;
    border-radius:4px;
    margin:7px;
   
}
.work{
    position:absolute;
    margin-top: 20px;
    right:40px;
    color: #888;
    font-weight: bold;
}
.colonnades{
    position: absolute;
    margin-top: 40px;
    right: 40px;
    padding: 5px;
    color: #888;
    font-size: 16px;
    
}
.cifre{
    font-weight: bold;


}
.linea-blu{
    background-color: #004c78;
    color: #004c78;
    border-radius: 9px 9px 9px 9px;
    border-style: none;
    margin-left: 10px;
    padding-right: 50px;
    
}
.pro{
    color: #48aee9;
    margin-left: 40%;
    margin-top: -20px;
    font-size: 18px;
}

.imgpiedepag{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    align-items: center;
    margin-top: 330px;
    margin-left: 80px;
    padding: 20px;
    padding-left: 90px;
}
.card2{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    background: rgba(255, 255, 255, 0.7); 
    padding: 30px;
    padding-bottom: 0px;
    margin: 0;
    width: 800px; 
    height: 150px;
    margin-left: 9px;
    margin-top: 8px;
}
.container2{
    display: flex;
    justify-content: flex-end;
    
}
.using{
    margin-left: -580px;
    margin-top: -50px;
    padding-left: 50px;
    padding-top: 30px;
}
.linea2{
    padding: 20px;
}
.linea-blu2{
    background-color: #004c78;
    color: #004c78;
    height: 5px;
    border-radius: 10px 10px 10px 10px;

}
.linea-azzur{
background-color: #48aee9;
color: #48aee9;
height: 5px;
border-radius: 10px 10px 10px 10px;
}
.linea-verde{
background-color: green;
 color: green;
height: 5px;
border-radius: 10px 10px 10px 10px
}
.linea-grigia{
background-color: rgb(209, 204, 204);
color: rgb(209, 204, 204);
height: 5px;
border-radius: 10px 10px 10px 10px
}
.regular{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 25px;
    color: #D5DEE4;
    
}
.lar{
    background-color: #004c78;
    color: #004c78;
    border-radius: 50px 50px 50px 50px;
    border-style: none;
}
.em{
    background-color:#48aee9;
    color:#48aee9;
    border-radius: 50px 50px 50px 50px;
    border-style: none;
}
.ed{
    background-color:green;
    color: green;
    border-radius: 50px 50px 50px 50px;
    border-style: none;
}
.ee{
    background-color:rgb(209, 204, 204);
    color: rgb(209, 204, 204);
    border-radius: 50px 50px 50px 50px;
    border-style: none; 
}
.card3{
    background-color: white;
    border-radius: 2px; 
    padding: 10px; 
    height: 160px;
    width: 390px;
    margin-left: 20px;
    margin-top: 8px;

}
.card2 .card3{
    flex: 1;
    margin: 10px;
}
h2{
    color: orange;

}
.testino{
    padding-top: 5px;
    color: #888;
}
.up{
    color: orange;
    font-size: 15px; 
}
.imgfinal{
    position: absolute;
    top: 25%;
    align-items: center;
    margin-top: 530px;
    margin-left: 80px;
    padding: 20px;
    padding-left: 90px;
}
.imgfinal img{
    width: 635px;
    height: 450px;
    margin:0px 10px;   
}


